WindowsServiceFolderMonitor/Connected Services/ServiceReference1/WcfServiceLibraryCheck2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/WcfServiceLibraryCheck?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModelLibrary" />
  <xs:element name="SaveCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataModelLibrary" minOccurs="0" name="check" nillable="true" type="q1:Check" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataModelLibrary" minOccurs="0" name="GetLastPackResult" nillable="true" type="q2:ArrayOfCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>