WindowsServiceFolderMonitor/Connected Services/ServiceReference1/WcfServiceLibraryCheck1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModelLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModelLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Check">
    <xs:sequence>
      <xs:element minOccurs="0" name="Articles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Summ" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Check" nillable="true" type="tns:Check" />
  <xs:complexType name="ArrayOfCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Check" nillable="true" type="tns:Check" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheck" nillable="true" type="tns:ArrayOfCheck" />
</xs:schema>